.Educations_Container{
    width: 90%;
    margin: auto;

}
.Educations_Container .education{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: 70px;
    width: 100%;
    margin: 80px 0;
}

.education .date span{
    font-size: 1em;
}

.education .date span i{
    margin-right: 8px;
    font-size: 0.8em; 
}
.education .education_content h3{
    margin: 0;
    font-size: 1em;
    font-weight: 500;
}