.Skills{
    width: 100%;
}

.SkillsContainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 90%;
    margin:  50px auto;
    gap: 10px;
}

.SkillsContainer .skillCard{
    background-color: #e2e1f5;
    max-width: 300px;
    padding: 20px;
    border-radius: 15px;
}

.SkillsContainer .skillCard h1{
    color: #3e3b8c;
}

.SkillsContainer .skillCard ul {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin: 15px 0px;
}

.SkillsContainer .skillCard ul li{
    padding: 8px;
    background-color: white;
    list-style: none;
    border-radius: 999px;
    font-size: 0.8em;
    transition: 0.9s;
    cursor: pointer;
}
.SkillsContainer .skillCard ul li:hover{
    color: #e9e8ff;
    background: #7673d8;
}


@media screen and (max-width: 900px) {

    .SkillsContainer .skillCard{
        width: 100%;
    }

}