.About{
    width: 100%;
}

.About .AboutContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 50px;
}


.About .AboutContainer .AboutImage{
    width: 50%;
    text-align: right;
}

.About .AboutContainer .AboutImage img{
    max-width: 450px;
    width: 100%;
}

.About .AboutContainer .AboutContent{
    width: 50%;
    padding: 0 70px 0 20px;
    box-sizing: border-box;
}

.About .AboutContainer .AboutContent p{
    margin: 25px 20px;
    font-size: 0.9em;
    color: #474747;
    font-weight: 400;
}

@media screen and (max-width: 900px) {
    .About .AboutContainer{
        display: grid;
        justify-items: center;
    }
    .About .AboutContainer .AboutContent{
        text-align: center;
        width: 100%;
        padding: 0;
    }

    .About .AboutContainer .AboutImage{
        width: 50%;
        text-align: center;
    }
}