.Navbar{
    width: 100%;
    padding: 10px 70px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #3e3b8c;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    position: fixed;
    top: 0;
    z-index: 2;
}
.Navbar .logo h1{
    color: #fff;
    font-family: "Oleo Script", system-ui;
    font-size: 2.3em;
    margin: 0;
}
.Navbar ul{
    display: flex;
    gap: 55px;
    list-style: none;
}

.Navbar ul li a{
    text-decoration: none;
    color: #fff;
    font-weight: 300;
}
.Navbar ul li{
    padding: 5px;
    transition: 0.3s ease;
}

.Navbar ul .active, .Navbar ul li:hover:not(.active){
    border-bottom: 1.5px solid #fff;
}