@import url('https://fonts.googleapis.com/css2?family=Gabriela&family=Oleo+Script:wght@400;700&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
*{
    font-size: 16px;
    font-family: "Rubik", sans-serif;
    margin: 0;
    padding: 0;
}


::-webkit-scrollbar {
    width: 3px;
    height: 2px;
    transition: 0.7s;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: #3e3b8c54;
    border-radius: 2px;
}

::-webkit-scrollbar-thumb:hover {
    background: #5550cf;
    width: 4px;
    height: 8px;
}


/* .intro {
    position: fixed;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: #5552ab;
    color: white;
    animation: fadeIn 7s ease-in-out;
    z-index: 999;
    top: 0;
    flex-wrap: wrap;
} */

.mainCard{
    position: fixed;
    width: 50%;
    height: 100%;
    background-color: #5552ab;
    z-index: 999;
    top: 0;
}

.leftCard{
    animation: leftCardfadeOut 3s  cubic-bezier(0.7, 0, 0.2, 1);
}

.rightCard{
    animation: rightCardfadeOut 3s  cubic-bezier(0.7, 0, 0.2, 1);
}

@keyframes leftCardfadeOut {
    from {
        opacity: 1;
        left: 0;
    }
    to {
        opacity: 0;
        left: -50%;
    }
}

@keyframes rightCardfadeOut {
    from {
        opacity: 1;
        right: 0;
    }
    to {
        opacity: 0;
        right: -50%;
    }
}
